.stage3, .stage2 {

	&__auto {

		background: none;
		-webkit-background-size: contain !important;
		background-size: contain !important;

		max-height: 377px;
		max-width: 1066px;
		width: 80%;
		height: 60%;

		margin: 0 auto 80px;

		-webkit-transition: background .5s ease;

	}
}