@import "animation";
@import "colors";
.game {

	$statusBarHeight: 250px;

	&__scene {
		width: 100%;
		height: calc(100vh - #{$statusBarHeight});

		position: relative;

		background: $blue-sky url('../../img/sky-blue.png') repeat-x 0 100%;
		-webkit-animation: animSky 7s linear infinite;
		animation: animSky 7s linear infinite;
	}

	&__status {
		width: 100%;
		height: $statusBarHeight;
		padding: 1em 2em;

		background: $brand-color;

		h1 {
			color: white;
			margin-bottom: 60px;
		}
	}

	&__stage {

		height: 100%;
		background: url("../../img/factory-bg.jpg") no-repeat rgba(255, 255, 255, 0.4);
		background-size: cover;

		background-blend-mode: lighten;

		h1 {

			text-align: center;
			font-size: 4em;
			margin: 0 0 60px;
			padding: 40px 0 30px;
			background: white;

			span {
				font-size: 14px;
				display: block;
				text-transform: lowercase;
			}
		}
	}
}

