@import "animation";

.game {

	$statusBarHeight: 250px;

	&__scene {
		width: 100%;
		height: calc(100vh - #{$statusBarHeight});

		position: relative;

		background: #4ec0ca url('../../img/sky.png') repeat-x 0 100%;
		-webkit-animation: animSky 7s linear infinite;
		animation: animSky 7s linear infinite;
	}

	&__status {
		width: 100%;
		height: $statusBarHeight;
		padding: 1em 2em;

		background: gray;
		border-top: 1px solid white;
	}
}

