@import "animation";

.game {

	$statusBarHeight: 250px;

	&__scene {
		width: 100%;
		height: calc(100vh - #{$statusBarHeight});

		position: relative;

		background: #4ec0ca url('../../img/sky.png') repeat-x 0 100%;
		-webkit-animation: animSky 7s linear infinite;
		animation: animSky 7s linear infinite;
	}

	&__status {
		width: 100%;
		height: $statusBarHeight;
		padding: 1em 2em;

		background: #00800d;
		border-top: 1px solid white;
	}

	&__stage {

		height: 100%;

		h1 {

			text-align: center;
			font-size: 4em;
			margin-bottom: 60px;

			span {
				font-size: 14px;
				display: block;
				text-transform: lowercase;
			}
		}
	}
}

