.pipe {
	position: absolute;
	left: -100px;
	width: 52px;
	height: 100%;
	z-index: 10;

	border-radius: 0 0 6px 6px;

	-webkit-animation: animPipe 7500ms linear;
	animation: animPipe 7500ms linear;

	&_upper {
		position: absolute;
		top: 0;
		width: 52px;

		border-radius: 0 0 6px 6px;

		background: $brand-color;
		-webkit-box-shadow: inset 0px 0px 12px 1px rgba(0,0,0,0.75);
		-moz-box-shadow: inset 0px 0px 12px 1px rgba(0,0,0,0.75);
		box-shadow: inset 0px 0px 12px 1px rgba(0,0,0,0.75);

		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			width: 52px;
			height: 26px;

			background: darken($brand-color, 10%);

			border-radius: 0 0 6px 6px;
		}
	}

	&_lower {
		position: absolute;
		bottom: 0;
		width: 52px;

		border-radius: 6px 6px 0 0;
		background: #007f0f;
		-webkit-box-shadow: inset 0px 0px 12px 1px rgba(0,0,0,0.75);
		-moz-box-shadow: inset 0px 0px 12px 1px rgba(0,0,0,0.75);
		box-shadow: inset 0px 0px 12px 1px rgba(0,0,0,0.75);

		&:after {
			content: "";
			position: absolute;
			top: 0;
			width: 52px;
			height: 26px;

			border-radius: 6px 6px 0 0;

			background: darken($brand-color, 10%);

		}
	}
}