.savingpoint {
	position: absolute;
	left: -100px;
	width: 80px;
	height: 100%;
	z-index: 10;

	-webkit-animation: animPipe 7500ms linear;
	animation: animPipe 7500ms linear;

	background-color: #8BC34A;

	border-left: 1px solid white;
	border-right: 1px solid white;

	&::before {
		content: 'Saving point';
		display: block;
		padding: 20px 5px;
		line-height: 24px;
		text-align: center;
		letter-spacing: 1px;
		background: #FFEB3B;
		text-transform: uppercase;
	}
	&::after {
		transform: rotate(-90deg);
		display: block;
		text-align: center;
		margin-top: 200px;
		color: white;
		letter-spacing: 1px;
		font-size: 18px;
	}

	&.stage-0 {
		&::after {
			content: 'Press Shop';
		}
	}

	&.stage-1 {
		&::after {
			content: 'Welding Shop';
		}
	}

	&.stage-2 {
		&::after {
			content: 'Paint Shop';
		}
	}

	&.stage-3 {
		&::after {
			content: 'Assembly';
		}
	}
}