.stage2 {

	&__auto {

		&.disassembled {
			background: url('../../img/auto/dis/disassembled.png') no-repeat;

		}

		&.with-door {
			background: url('../../img/auto/dis/with-door.png') no-repeat;
		}

		&.with-wheels {
			background: url('../../img/auto/dis/with-wheels.png') no-repeat;
		}

		&.with-left-wheel {
			background: url('../../img/auto/dis/with-left-wheel.png') no-repeat;
		}

		&.with-right-wheel {
			background: url('../../img/auto/dis/with-right-wheel.png') no-repeat;
		}

		&.with-right-wheel-and-door {
			background: url('../../img/auto/dis/with-right-wheel-and-door.png') no-repeat;
		}

		&.with-left-wheel-and-door {
			background: url('../../img/auto/dis/with-left-wheel-and-door.png') no-repeat;
		}

		&.complete {
			background: url('../../img/auto/dis/complete.png') no-repeat;
		}

		&-choices {
			display: flex;
			flex-direction: row;
			//align-items: center;
			justify-content: center;
			padding: 10px;
			position: absolute;
			bottom: 0;
			width: 100%;

			& div {
				margin: 10px;
			}
		}

		&-kolo {
			//position: absolute;
			background: url('../../img/auto/dis/wheel.png') no-repeat;
			background-size: contain;
			width: 130px;
			height: 130px;

		}
		&-dvere {
			//position: absolute;
			background: url('../../img/auto/dis/door.png') no-repeat;
			background-size: contain;
			width: 230px;
			height: 233px;
		}
	}
}