.stage3 {

	&__auto {

		&.default {
			background: url('../../img/auto/rapid-default-white.png') no-repeat;
		}

		&.red {
			background: url('../../img/auto/rapid-red.png') no-repeat;
		}

		&.blue {
			background: url('../../img/auto/rapid-blue.png') no-repeat;
		}
	}

	&__colors {

		width: 80%;
		height: 4em;
		margin: auto;

		&-1, &-2 {
			width: 50%;
			display: inline-block;
			float: left;
			height: 100%;
		}

		&-1 {
			background: $color1;

			&:hover {
				background: lighten($color1, 30%);
				cursor: pointer;
			}
		}

		&-2 {
			background: $color2;

			&:hover {
				background: lighten($color2, 30%);
				cursor: pointer;
			}
		}
	}
}