$color1:	red;
$color2:	blue;

@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700');
@import 'game';
@import 'player';
@import 'pipe';
@import '_savingpoint';

@import "stage1";
@import "stage2";
@import "stage3";
@import "stage4";
@import "stage5";


body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;

	font-family: 'Comfortaa', cursive;
	font-weight: 300;

}

div {
	box-sizing: border-box;
}

h1 {
	font-weight: 300;
}