$color1:	red;
$color2:	blue;

@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700');
@import 'game';
@import 'player';
@import 'pipe';
@import 'savingpoint';
@import "gameStages";
@import "buttons";
@import "auto";
@import "stage1";
@import "stage2";
@import "stage3";
@import "stage4";
@import "stage5";

.main_game {
	height: 100%;
}

.press_shop{
	height: 100%;
}

.welding_machine{
	height: 100%;
}

.paint_shop{
	height: 100%;
}

.assembly{
	height: 100%;
}

.polygon_testing{
	height: 100%;
}


body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;

	font-family: 'Comfortaa', cursive;
	font-weight: 300;

}

div {
	box-sizing: border-box;
}

h1 {
	font-weight: 300;
}

.hidden {
	display: none;
}