$color1:	red;
$color2:	blue;
$brand-color: #00800d;
$blue-sky:		#74c1ff;

@import "colors";
@import 'game';
@import 'player';
@import 'pipe';
@import 'savingpoint';
@import "gameStages";
@import "buttons";
@import "auto";
@import "stage1";
@import "stage2";
@import "stage3";
@import "stage4";



.main_game {
	height: 100%;
}

.press_shop{
	height: 100%;
}

.welding_machine{
	height: 100%;
}

.paint_shop{
	height: 100%;
}

.assembly{
	height: 100%;
}

.polygon_testing{
	height: 100%;
}


body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;

	font-family: 'Open Sans', sans-serif;
	font-weight: 300;


	@media (max-width: 768px) { // mobil + tablet
		font-size: 14px;
	}

}

div {
	box-sizing: border-box;
}

h1 {
	font-weight: 300;
}

.hidden {
	display: none;
}